Flask>=2.2.2
Flask_Cors>=3.0.10
flask_marshmallow>=0.14.0
Flask_Migrate>=3.1.0
Flask_SQLAlchemy>=2.5.1
marshmallow>=3.18.0
marshmallow_sqlalchemy>=0.28.1
matplotlib>=3.5.3
numpy>=1.21.3,<1.22
opencv-python>=4.3.0
Pillow>=9.2.0
PyMySQL>=1.0.2
python-dotenv>=0.21.0
PyYAML>=6.0
scikit_image>=0.19.3
SQLAlchemy>=1.4.41
sqlparse>=0.4.2
tqdm>=4.64.1
Werkzeug>=2.2.2
